* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #8EE4AF;
}

body h1 {
    display: block;
    margin: 3% auto 0;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
}

.wrapper {
    position: relative;
    background-color: #05386B;
    width: 60%;
    margin: 3% auto 0;
    font-size: 26px;
    color: #EDF5E1;
    padding: 3% 0 10%;
    border: solid 7px #379683;
    border-radius: 5%;
}

.flex-parent {
    display: flex;
    justify-content: center;
}

#unit-select label {
    margin: 0 0.5rem 4rem;
    padding: 0.2rem 1.5rem;
    border: solid 2px black;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Arial;
}

#unit-select input[type="radio"]:hover + label {
    background-color: lightblue;
}

#unit-select input[type="radio"]:checked + label {
    background-color: gray;
}

.unit-button {
    font-size: 18px;
    font-family: Arial;
    appearance: none;
}

.height, .weight {
    margin-bottom: 7%;
    font-size: 30px;
    font-family: Arial;
}

.left-margin-10 {
    margin-left: 10%;
}

.height-unit, .weight-unit {
    text-align: left;
    margin-left: 0;
}

.height-error, .weight-error {
    font-size: 18px;
    margin-left: 15%;
}

input[type="number"] {
    float: right;
    padding: 5px;
    width: 15%;
    height: 30%;
    margin: 0 15% 0 2%;
    box-sizing: border-box;
}

.action-button {
    margin: 0 1%;
    font-size: 24px;
    font-family: Arial;
    color: #05386B;
    padding: 1rem;
    border: solid 5px #379683;
    border-radius: 5%;
    background-color: #8EE4AF;
}

.action-button:hover {
    background-color: #EDF5E1;
}

.action-button:active {
    background-color: #379683;
}

.result {
    font-size: 32px;
    color: #EDF5E1;
    z-index: 1;
    text-align: center;
    margin: 3rem auto 0;
}